<header id="home" class="welcome-hero">

  <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#header-carousel" data-slide-to="0" class="active"><span class="small-circle"></span></li>
      <li data-target="#header-carousel" data-slide-to="1"><span class="small-circle"></span></li>
      <li data-target="#header-carousel" data-slide-to="2"><span class="small-circle"></span></li>
    </ol>
  </div>

  <div class="top-area">
    <div class="header-area">
      <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy" data-minus-value-desktop="70"
        data-minus-value-mobile="55" data-speed="1000">

        <div class="top-search">
          <div class="container">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="attr-nav">
            <ul>
              <li class="dropdown">
                <a routerLink="/basket" class="dropdown-toggle" data-toggle="dropdown" *ngIf="isAuth">
                  <span class="lnr lnr-cart"></span>
                  <span class="badge badge-bg-1"></span>
                </a>
              </li>
            </ul>
          </div>

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
              <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" routerLink="">B2<span>B</span></a>

          </div>
          <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
            <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
              <li class="" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a>Home</a>
              </li>
              <li class="" routerLink="/order" routerLinkActive="active" routerLinkOptions="{exact: true}"
                *ngIf="isAuth"><a>Orders</a>
              </li>
              <li class="" routerLink="/login" routerLinkActive="active" routerLinkOptions="{exact: true}"
                *ngIf="!isAuth"><a>Login</a></li>
              <li class=""><a href="http://localhost:4200/" target="_blank">Admin Login</a></li>
              <li class=""><a (click)="logout()" *ngIf="isAuth">Log Out</a></li>
            </ul>
          </div>

        </div>
      </nav>
    </div>

    <div class="clearfix"></div>
  </div>
</header>
