<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Profile</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Profile</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="col-md-4">
          <form #updateForm="ngForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Name Surname</label>
              <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="userName"
                [ngModelOptions]="{standalone:true}" name="name" #name required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Current Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" ngModel name="password" #password
                required>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">New Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" ngModel name="newPassword"
                #newPassword>
            </div>
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!updateForm.valid" (click)="update(updateForm)">Update
              Profile</button>
          </form>
        </div>
      </div>

    </div>
  </section>
</div>
