<div class="content-wrapper">

  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Order Detail</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Orders</a></li>
            <li class="breadcrumb-item active">Order Detail</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="invoice p-3 mb-3">

            <div class="row my-2">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> B2B
                  <small class="float-right">Date: {{order.date | date: 'dd.MM.yyyy'}}</small>
                </h4>
              </div>
            </div>

            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                <h5><strong [innerText]="order.customerName"></strong></h5>
                <p class="lead">Order Status: <strong>{{order.status}}</strong></p>
              </div>
            </div>

            <div class="row">
              <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Product</th>
                      <th>Quantity</th>
                      <th>Price</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let orderDetail of orderDetails let index = index">
                      <td [innerText]="index + 1"></td>
                      <td [innerText]="orderDetail.productName"></td>
                      <td [innerText]="orderDetail.quantity"></td>
                      <td [innerText]="orderDetail.price | currency: 'TRY': 'symbol-narrow': '1.2-2'"></td>
                      <td [innerText]="orderDetail.total | currency: 'TRY': 'symbol-narrow': '1.2-2'"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="col-6">

              </div>
              <div class="col-6">
                <div class="table-responsive">
                  <table class="table">
                    <tr>
                      <th style="width:50%">Total:</th>
                      <td>{{order.total | currency: 'TRY': 'symbol-narrow': '1.2-2'}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="row no-print">
              <div class="col-12">
                <a href="javascript:window.print()" rel="noopener" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
